input[type=file] {
    cursor: pointer;
    width: 100px;
    height: 40px;
    overflow: hidden;
}

input[type=file]:before {
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 32px;
    content: 'Choose File';
    display: inline-block;
    background: #0080A4;
    border: 1px solid #0080A4;
    padding: 2px 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.file-upload{
    width: 100px;
    border-radius: 0px;
    height: 32px;
}

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

.react-grid-image{
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.react-grid-Container .react-grid-Toolbar{
    height: 62px;
}
.react-grid-Container .react-grid-Toolbar .tools{
    float: none;
    width: 100%;
    clear: both;
    
}
.react-grid-Container .react-grid-Toolbar .tools button{
    background-color: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 0;
}
.react-grid-Container .react-grid-Toolbar .tools > button:first-child{
    float: left;
}
.react-grid-Container .react-grid-Toolbar .tools > button:last-child{
    float: right;
}
.react-grid-Cell:not(.editing) .react-grid-Cell__value{
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
}
.react-grid-HeaderCell{
    background-color: #88BC72 !important;
}
.react-grid-HeaderCell .widget-HeaderCell__value{
    margin: 16px auto;
    height: 100%;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    
}
.react-grid-Cell.blue{
    background-color: #3c8dbc !important;
    color: #f5f5f5 !important;
}
.react-grid-Cell.green{
    background-color: #008000 !important;
    color: #f5f5f5 !important;
}
.react-grid-Cell.orange {
    background-color: #FFA500 !important;
    color: #f5f5f5 !important;
}
