/*================ sidebar styling here ============*/

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:not(.menu-open):hover > .treeview-menu {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: absolute !important;
    top: 50% !important;
    padding: 2px 4px;
    left: auto !important;
  }

  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    position: static !important;
    width: 100% !important;
  }
}

