.btn-primary {
    border: 2px solid $white !important;
    background-color: $sky-blue !important;
    font-size: 17px !important;
    line-height: 21px !important;
    font-weight: 400 !important;
    min-width: 87px;
    padding: 8px 12px !important;
    border-radius: 0 !important;
    letter-spacing: 1px;
    font-family: $lato-font;
    box-shadow: none !important;
    @media screen and (min-width: $lgscreen-size) {
        min-width: 100px;
        padding: 10px 12px !important;
    }
    &:hover {
        background-color: $dark-sky-blue !important;
    }
    &.active {
        border: 2px solid $black !important;
        background-color: $dark-sky-blue !important;
    }
}