/*================== Detail Page CSS here ==========================*/

.detail-information-wrapper {
    @media screen and (min-width: $mdscreen-size){
        margin-top: 50px;
    }
    
    .dealer-notes {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% - 30px);
        p {
            font-size: 16px;
            line-height: 24px;
            @media screen and (min-width: $mdscreen-size){
                font-size: 18px;
                line-height: 24px;
            }
        }
        h4 {

            strong {
                text-decoration: underline;
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
    .car-price-detail {
        
        .button-block{
            position: relative;
            .btn {
                &.btn-primary {
                    padding: 17px !important;
                    min-width: 230px;
                    &.visible{
                        position: absolute;
                        
                    }
                }
            }
        }
        h5{
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            margin: 6px 0 0 0;
            
        }
        h3{
            text-decoration: underline;
            @media screen and (min-width: $mdscreen-size){
                margin-top: 0;
            }
        }
        h1{
            &.price{
                color: $dark-blue;
                font-size: 42px;
                line-height: 46px;
                font-weight: 400;
            }
        }
    }
}