/*================== Detail Page CSS here ==========================*/

.detail-information-wrapper {
    .dealer-notes {
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            font-size: 18px;
            line-height: 24px;
        }
        h4 {
            strong {
                text-decoration: underline;
            }
        }
    }
    .car-price-detail {
        .btn {
            &.btn-primary {
                padding: 17px !important;
                min-width: 230px;
            }
        }
    }
}