/*============ filter-section Css start here ===========*/

.filter-section {
    background-color: $dark-blue;
    padding: 11px 0 0 0;
    min-height: 77px;
    border-width: 3px;
    @media screen and (min-width: $mdscreen-size) {
        min-height: 104px;
        border-top: 3px solid $black !important;
    }
    .button-block {
        margin-top: 16px;
        @media screen and (max-width: ($smscreen-size - 1)) {
            text-align: center;
        }
        button {
            margin-right: 7px;
            @media screen and (min-width: $lgscreen-size) {
                margin-right: 11px;
            }
            @media screen and (min-width: $xlscreen-size) {
                margin-right: 24px;
            }
            &.active{
                border-color: $black;
            }
        }
    }
    .range-filter-block {
        @media screen and (max-width: ($mdscreen-size - 1)){
            padding: 0 30px;
        }
        h3 {
            font-size: 18px;
            line-height: 22px;
            color: $white;
            text-align: center;
            @media screen and (min-width: $mdscreen-size) {
                margin-top: 0;
            }
        }
        input[type="range"] {
            width: 100%;
        }
        h4 {
            color: $white;
            &.low-price {
                float: left;
                font-size: 20px;
                line-height: 24px;
            }
            &.high-price {
                float: right;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .navbar-collapse{
        .row{
            flex-wrap: wrap;
            @media screen and (min-width: $mdscreen-size){
                flex-wrap: nowrap;
            }
        }
        
    }
}