/*============== footer block css here ============*/

footer {
    background-color: $dark-blue;
    padding: 7px 0;
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 23;
    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
            display: inline-block;
            margin: 0 10px;
            a {
                img {
                    width: 30px;
                    height: 30px;
                    @include object-fit($property: cover);
                }
            }
        }
    }
}