/*============== footer block css here ============*/

footer {
    background-color: $dark-blue;
    padding: 7px 0;
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
            display: inline-block;
            margin: 0 10px;
            vertical-align: middle;
            a {
                i {
                    color: $white;
                    font-size: 17px;
                    line-height: 23px;
                    &.fa-star,
                    &.fa-envelope {
                        font-size: 32px;
                        line-height: 36px;
                    }
                    &.fa-phone,
                    &.fa-arrow-left {
                        font-size: 21px;
                        padding: 10px 8px;
                        width: 43px;
                        height: 43px;
                    }
                }
            }
            &.round-icon {
                border: 2px solid #fff;
                border-radius: 100%;
                text-align: center;
            }
        }
    }
}