/*=========== main page css here ===========*/

.car-info-section {
    margin: 25px 0;
    min-height: 700px;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .car-detail-wrapper {
        width: 100%;
        border: 2px solid $medium-gray;
        padding: 15px;
        cursor: pointer;
        &:hover {
            border: 2px solid $dark-blue;
        }
        h2 {
            font-size: 22px;
            line-height: 24px;
            font-weight: 600;
            color: $dark-blue;
            font-family: $lato-font;
        }
        h3 {
            font-size: 20px;
            line-height: 22px;
            font-weight: 600;
            color: $black;
            font-family: $lato-font;
        }
        .dealer-notes {
            h4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                color: $black;
                font-family: $lato-font;
            }
            p {
                font-size: 17px;
                line-height: 22px;
                font-weight: 400;
                color: $black;
                font-family: $lato-font;
                margin-top: 27px;
            }
            a {
                &.fav-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        .car-detail-block {
            h5 {
                font-size: 17px;
                line-height: 21px;
                font-weight: 400;
                color: $black;
                margin-bottom: 5px;
                &.stroke-text {
                    text-decoration: line-through;
                }
            }
        }
    }
}

a {
    &.fav-icon {
        i {
            font-size: 36px;
            line-height: 40px;
            color: $dark-blue;
        }
    }
}