/*=========== main page css here ===========*/

.car-info-section {
    margin: 25px 0;
    min-height: 700px;
    padding: 0 15px;
    @media screen and (min-width: $mdscreen-size) {
        padding: 0;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .car-detail-wrapper {
        width: 100%;
        border: 2px solid $medium-gray;
        padding: 15px;
        cursor: pointer;
        &:hover {
            border: 2px solid $dark-blue;
        }
        h2 {
            font-size: 22px;
            line-height: 24px;
            font-weight: 600;
            color: $dark-blue;
            font-family: $lato-font;
        }
        h3 {
            font-size: 20px;
            line-height: 22px;
            font-weight: 600;
            color: $black;
            font-family: $lato-font;
            margin-top: 0;
        }
        .dealer-notes {
            @media screen and (max-width: ($lgscreen-size - 1)) {
                width: 100%;
                max-width: 100%;
                text-align: center;
            }
            h4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                color: $black;
                font-family: $lato-font;
            }
            p {
                font-size: 17px;
                line-height: 22px;
                font-weight: 400;
                color: $black;
                font-family: $lato-font;
                margin-top: 27px;
            }
            a {
                &.fav-icon {
                    position: absolute;
                    top: 19px;
                    right: 0;
                    @include object-fit($property: cover);
                    @media screen and (min-width: $lgscreen-size) {
                        top: 0;
                    }
                }
            }
        }
        .car-detail-block {
            @media screen and (max-width: ($lgscreen-size - 1)) {
                width: 100%;
                max-width: 100%;
                text-align: center;
            }
            h5 {
                font-size: 17px;
                line-height: 21px;
                font-weight: 400;
                color: $black;
                margin-bottom: 5px;
                &.stroke-text {
                    text-decoration: line-through;
                }
            }
            .button-block {
                margin-top: 18px;
                button {
                    padding: 11px 19px !important;
                    margin: 0 5px;
                    @media screen and (min-width: $smscreen-size) {
                        padding: 15px 30px !important;
                    }
                }
            }
            img {
                width: 100%;
                @include object-fit($property: cover);
            }
            a {
                &.fav-icon {
                    position: absolute;
                    right: 0;
                    top: -5px;
                    img {
                        width: 30px;
                        height: 30px;
                        @include object-fit($property: cover);
                    }
                }
            }
        }
        .image-block {
            @media screen and (max-width: ($lgscreen-size - 1)) {
                width: 100%;
                max-width: 100%;
                text-align: center;
            }
        }
    }
}

a {
    &.fav-icon {
        i {
            font-size: 36px;
            line-height: 40px;
            color: $dark-blue;
        }
    }
}